@model SmallSqliteKit.Service.ViewModels.HomeViewModel

<p>
@if (Model.IsLinkedToDropbox) {
    <a href="~/dropbox/disconnect">Unlink from Dropbox</a>
} else {
    <a href="~/dropbox/connect">Link to Dropbox</a>
}
</p>

<form asp-controller="home" asp-action="configure" method="post">
<div>
    <label asp-for="BackupPath">Backup Path:</label>
    <input asp-for="BackupPath" />
    <button type="submit" value="Update">Update</button>
</div>
</form>

<h2>Databases to Backup</h2>
<form asp-controller="home" asp-action="dbconfigs" method="post">
    <table>
        <tr><th>Database Path</th><th>Backup Frequency</th><th>Last Backup</th><th>Upload To Dropbox</th><th>Upload Frequency</th><th>Last Upload</th><th></th></tr>

        @foreach (var dbBackup in Model.DatabaseBackups)
        {
            <tr>
                @Html.DisplayFor(_ => dbBackup)
                <td><button type="submit" name="delete" value="@dbBackup.DatabaseBackupId">Delete</button></td>
            </tr>
        }
        <tr>
            @Html.EditorFor(_ => Model.NewDatabaseModel)
            <td><button type="submit" name="add" value="add">Add</button></td>
        </tr>
    </table>

</form>

<h2>Audit Events</h2>

<table>
    <tr><th>Timestamp</th><th>Database Backup</th><th>Log Message</th></tr>

    @foreach (var auditEvent in Model.AuditEvents)
    {
        <tr>
            @Html.DisplayFor(_ => auditEvent)
        </tr>
    }
</table>

